/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  float: left;
  width: 33%;
  height: 50px;
  background-color: #333;
  color: white;
}

#middle {
  float: left;
  width: 33%;
  height: 50px;
  background-color: #888;
  color: white;
}

#right {
  float: left;
  width: 33%;
  height: 50px;
  background-color: #666;
  color: white;
}

#full {
  margin-top:15px;
  height: 250px;
  background: grey;
  padding:15px 15px;
  clear: both;
  overflow: auto;
  width:100%;
}

#division {
  padding: 20px;
  background: #6ea3da;
  margin-top: 20px;
}

aside {
  float: left;
  height: 200px;
  width: 33%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
  margin-left: 30px;
}

footer {
  clear: both;
  margin:15px;
  background:#ccc;
  padding: 20px;
}
